# .gitignore

# -------------
# folders
# -------------
!data/
data/*
!/data/README.md

!data/clean
data/clean/*
!/data/clean/README.md

!data/external/
data/external/*
!/data/external/README.md

!data/estimates/
data/estimates/*
!/data/estimates/README.md

/tables/*.tex

# -------------
# TeX
# -------------
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fff
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.toc
*.ttt

# -------------
# R
# -------------
*.Rhistory
*.Rproj

# -------------
# compiled
# -------------
*.o
*.hpp
mrp
mrp_threads
!mrp.stan

# -------------
# MacOS
# -------------
*.DS_Store

# -------------
# MSWord
# -------------
*.doc
*.docx

# -------------
# PDF
# -------------
*.pdf
